:root {
  --btn-height-sm: var(--ql-component-height-sm);
  --btn-height-base: var(--ql-component-height-md);
  --btn-height-lg: var(--ql-component-height-lg);

  --btn-square-size-sm: var(--btn-height-sm);
  --btn-square-size: var(--btn-height-base);
  --btn-square-size-lg: var(--btn-height-lg);

  --btn-circle-size-sm: var(--btn-height-sm);
  --btn-circle-size: var(--btn-height-base);
  --btn-circle-size-lg: var(--btn-height-lg);

  --btn-padding-horizontal-sm: calc(8px - 1px);
  --btn-padding-horizontal-base: calc(16px - 1px);
  --btn-padding-horizontal-lg: calc(24px - 1px);

  --btn-shadow: none;

  --btn-font-size-sm: var(--ql-typography-font-size-sm);
  --btn-font-size-base: var(--ql-typography-font-size-md);
  --btn-font-size-lg: var(--ql-typography-font-size-lg);

  --btn-line-height: var(--ql-typography-line-height-md);

  --btn-font-weight: 600;

  --btn-font-shadow: 0 -1px 0 rgb(0  0 0 / 12%);

  --btn-border-width: var(--ql-border-width-default);
  --btn-border-style: var(--ql-border-style-default);
  --btn-border-color: var(--ql-border-color-default);

  --btn-border-radius-sm: var(--ql-border-radius-sm);
  --btn-border-radius-base: var(--ql-border-radius-md);
  --btn-border-radius-lg: var(--ql-border-radius-md);

  --btn-icon-size-sm: 16px;
  --btn-icon-size: 20px;
  --btn-icon-size-lg: 24px;

  --btn-default-bg: var(--ql-color-dark-t-lighten5);
  --btn-default-color: var(--ql-typography-text-color-secondary);
  --btn-default-border: transparent;
  --btn-default-hover-bg: var(--ql-color-dark-t-lighten4);
  --btn-default-hover-color: var(--ql-typography-text-color-primary);
  --btn-default-hover-border: transparent;
  --btn-default-active-bg: var(--ql-color-dark-t-lighten3);
  --btn-default-active-color: var(--btn-default-hover-color);
  --btn-default-active-border: transparent;

  --btn-default-danger-bg: var(--ql-color-danger-t-lighten5);
  --btn-default-danger-color: var(--ql-color-danger);
  --btn-default-danger-border: transparent;
  --btn-default-danger-hover-bg: var(--ql-color-danger-t-lighten4);
  --btn-default-danger-hover-color: var(--btn-default-danger-color);
  --btn-default-danger-hover-border: transparent;
  --btn-default-danger-active-bg: var(--ql-color-danger-t-lighten3);
  --btn-default-danger-active-color: var(--btn-default-danger-color);
  --btn-default-danger-active-border: transparent;

  --btn-default-ghost-color: var(--ql-color-white);
  --btn-default-ghost-bg: transparent;
  --btn-default-ghost-border: var(--ql-color-white);
  
  /* --btn-default-ghost-hover-bg: var(--ql-color-accent1-t-lighten1); */
  /* --btn-default-ghost-hover-color: var(--ql-color-white); */
  /* --btn-default-ghost-hover-border: var(--ql-color-accent1-t-lighten1); */
  /* --btn-default-ghost-active-bg: var(--btn-default-ghost-hover-bg); */
  /* --btn-default-ghost-active-color: var(--btn-default-ghost-hover-color); */
  /* --btn-default-ghost-active-border: var(--btn-default-ghost-hover-border); */

  --btn-primary-color: var(--ql-color-white);
  --btn-primary-bg: var(--ql-color-accent1);
  --btn-primary-border: var(--ql-color-accent1);
  --btn-primary-shadow: var(--btn-shadow);
  --btn-primary-hover-bg: var(--ql-color-accent1-t-lighten1);
  --btn-primary-hover-color: var(--ql-color-white);
  --btn-primary-hover-border: var(--ql-color-accent1-t-lighten1);
  --btn-primary-active-bg: var(--btn-primary-hover-bg);
  --btn-primary-active-color: var(--btn-primary-hover-color);
  --btn-primary-active-border: var(--btn-primary-hover-border);

  --btn-danger-color: var(--ql-color-white);
  --btn-danger-bg: var(--ql-color-danger);
  --btn-danger-border: var(--ql-color-danger);
  --btn-danger-shadow: var(--btn-shadow);
  --btn-danger-hover-bg: var(--ql-color-danger-t-lighten4);
  --btn-danger-hover-color: var(--ql-color-danger-t-lighten4);
  --btn-danger-hover-border: var(--ql-color-danger-t-lighten4);
  --btn-danger-active-bg: var(--btn-danger-hover-bg);
  --btn-danger-active-color: var(--btn-danger-hover-color);
  --btn-danger-active-border: var(--btn-danger-hover-border);

  --btn-white-color: var(--ql-typography-text-color-secondary);
  --btn-white-bg: var(--ql-color-white);
  --btn-white-border: var(--ql-color-white);
  --btn-white-shadow: var(--btn-shadow);
  --btn-white-hover-bg: var(--btn-white-bg);
  --btn-white-hover-border: var(--btn-white-border);

  --btn-text-color: var(--btn-default-color);
  --btn-text-bg: transparent;
  --btn-text-border: transparent;
  --btn-text-shadow: var(--btn-shadow);
  --btn-text-hover-bg: var(--ql-color-dark-t-lighten6);
  --btn-text-hover-color: var(--ql-color-accent1-t-lighten1);

  --btn-link-color: var(--ql-color-accent1);
  --btn-link-bg: transparent;
  --btn-link-border: transparent;
  --btn-link-shadow: var(--btn-shadow);
  --btn-link-hover-bg: transparent;

  --btn-disable-color: var(--ql-state-disabled-color);
  --btn-disable-bg: var(--ql-state-disabled-bg);
  --btn-disable-border: var(--ql-border-color-default);
  --btn-disable-shadow: var(--btn-shadow);
  --btn-disable-font-shadow: none;

  --btn-group-border: var(--ql-color-accent1-t-lighten5);
}