:root {
  /* --form-item-trailing-colon: true; */
  --ql-form-item-vertical-spacing: 40px;

  --ql-form-message-color: var(--ql-typography-text-color-secondary);
  --ql-form-message-font-size: var(--ql-typography-font-size-md);
  --ql-form-message-line-height: var(--ql-typography-line-height-md);
  --ql-form-message-font-weight: initial;
  --ql-form-message-letter-spacing: var(--ql-letter-spacing-none);
  --ql-form-message-text-transform: unset;
  
  --form-vertical-label-padding: 0 0 8px;
  --form-vertical-label-margin: 0;
  --form-item-label-font-size: var(--ql-typography-font-size-md);
  --form-item-label-height: var(--input-height-base);
  --form-item-label-colon-margin-right: 8px;
  --form-item-label-colon-margin-left: 2px;
  --form-error-input-bg: var(--input-bg);
  --form-warning-input-bg: var(--input-bg);
}