:root {
  --collapse-panel-border-radius: var(--ql-border-radius-md);

  --collapse-header-padding: 12px 16px;
  --collapse-header-arrow-padding: unset;

  --collapse-header-padding-extra: 40px;
  --collapse-header-bg: var(--ql-color-dark-t-lighten5);
  --collapse-content-padding: 16px;
  --collapse-content-bg: var(--ql-color-white);
  --collapse-header-arrow-left: 16px;
}
