.ant-modal {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0;
  color: var(--ql-typography-text-color-primary);
  font-size: var(--ql-typography-font-size-md);
  font-variant: var(--ql-typography-font-variant-default);
  line-height: var(--ql-typography-line-height-md);
  list-style: none;
  -webkit-font-feature-settings: var(--ql-typography-font-feature-settings-default);
  font-feature-settings: var(--ql-typography-font-feature-settings-default);
  pointer-events: none;
  position: relative;
  top: 100px;
  width: auto;
  max-width: calc(100vw - 32px);
  margin: 0 auto;
  padding-bottom: 24px;
}
.ant-modal.zoom-enter,
.ant-modal.zoom-appear {
  -webkit-transform: none;
  transform: none;
  opacity: 0;
  -webkit-animation-duration: var(--ql-animation-duration-slow);
  animation-duration: var(--ql-animation-duration-slow);
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.ant-modal-mask {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: var(--ql-zindex-modal-mask);
  height: 100%;
  background-color: var(--modal-mask-bg);
}
.ant-modal-mask-hidden {
  display: none;
}
.ant-modal-wrap {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  overflow: auto;
  outline: 0;
  -webkit-overflow-scrolling: touch;
}
.ant-modal-wrap {
  z-index: var(--ql-zindex-modal);
}
.ant-modal-title {
  margin: 0;
  color: var(--modal-heading-color);
  font-weight: var(--font-weight-medium);
  font-size: var(--modal-header-title-font-size);
  line-height: var(--modal-header-title-line-height);
  word-wrap: break-word;
}
.ant-modal-content {
  position: relative;
  background-color: var(--modal-content-bg);
  background-clip: padding-box;
  border: 0;
  border-radius: var(--ql-border-radius-lg);
  -webkit-box-shadow: var(--ql-shadow-default);
  box-shadow: var(--ql-shadow-default);
  pointer-events: auto;
}
.ant-modal-close {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 10;
  padding: 0;
  color: var(--modal-close-color);
  font-weight: var(--font-weight-bold);
  line-height: 1;
  text-decoration: none;
  background: transparent;
  border: 0;
  outline: 0;
  cursor: pointer;
  -webkit-transition: color var(--ql-animation-duration-slow);
  transition: color var(--ql-animation-duration-slow);
}
.ant-modal-close-x {
  display: block;
  width: var(--modal-header-close-size);
  height: var(--modal-header-close-size);
  font-size: var(--ql-typography-font-size-md);
  font-style: normal;
  line-height: var(--modal-header-close-size);
  text-align: center;
  text-transform: none;
  text-rendering: auto;
}
.ant-modal-close:focus,
.ant-modal-close:hover {
  color: var(--ql-icon-color-hover);
  text-decoration: none;
}
.ant-modal-header {
  padding: var(--modal-header-padding);
  color: var(--modal-heading-color);
  background: var(--modal-header-bg);
  border-bottom: var(--modal-header-border-width)
    var(--modal-header-border-style) var(--modal-header-border-color-split);
  border-radius: var(--ql-border-radius-lg) var(--ql-border-radius-lg) 0 0;
}
.ant-modal-body {
  padding: var(--modal-body-padding);
  font-size: var(--ql-typography-font-size-md);
  line-height: var(--ql-typography-line-height-md);
  word-wrap: break-word;
}
.ant-modal-footer {
  padding: var(--modal-footer-padding-vertical)
    var(--modal-footer-padding-horizontal);
  text-align: right;
  background: var(--modal-footer-bg);
  border-top: var(--modal-footer-border-width) var(--modal-footer-border-style)
    var(--modal-footer-border-color-split);
  border-radius: 0 0 var(--border-radius-xxs) var(--border-radius-xxs);
}
.ant-modal-footer .ant-btn + .ant-btn {
  margin-bottom: 0;
  margin-left: 8px;
}
.ant-modal-open {
  overflow: hidden;
}
.ant-modal-centered {
  text-align: center;
}
.ant-modal-centered::before {
  display: inline-block;
  width: 0;
  height: 100%;
  vertical-align: middle;
  content: '';
}
.ant-modal-centered .ant-modal {
  top: 0;
  display: inline-block;
  text-align: left;
  vertical-align: middle;
}
@media (max-width: 767px) {
  .ant-modal {
    max-width: calc(100vw - 16px);
    margin: 8px auto;
  }
  .ant-modal-centered .ant-modal {
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
  }
}
.ant-modal-confirm .ant-modal-header {
  display: none;
}
.ant-modal-confirm .ant-modal-body {
  padding: var(--modal-confirm-body-padding);
}
.ant-modal-confirm-body-wrapper::before {
  display: table;
  content: '';
}
.ant-modal-confirm-body-wrapper::after {
  display: table;
  clear: both;
  content: '';
}
.ant-modal-confirm-body .ant-modal-confirm-title {
  display: block;
  overflow: hidden;
  color: var(--ql-typography-text-color-primary);
  font-weight: 500;
  font-size: var(--ql-typography-font-size-md);
  line-height: 1.4;
}
.ant-modal-confirm-body .ant-modal-confirm-content {
  margin-top: 8px;
  color: var(--ql-typography-text-color-primary);
  font-size: var(--ql-typography-font-size-md);
}
.ant-modal-confirm-body > .anticon {
  float: left;
  margin-right: 16px;
  font-size: 22px;
}
.ant-modal-confirm-body > .anticon + .ant-modal-confirm-title + .ant-modal-confirm-content {
  margin-left: 38px;
}
.ant-modal-confirm .ant-modal-confirm-btns {
  float: right;
  margin-top: 24px;
}
.ant-modal-confirm .ant-modal-confirm-btns .ant-btn + .ant-btn {
  margin-bottom: 0;
  margin-left: 8px;
}
.ant-modal-confirm-error .ant-modal-confirm-body > .anticon {
  color: var(--ql-color-danger);
}
.ant-modal-confirm-warning .ant-modal-confirm-body > .anticon,
.ant-modal-confirm-confirm .ant-modal-confirm-body > .anticon {
  color: var(--ql-color-warning);
}
.ant-modal-confirm-info .ant-modal-confirm-body > .anticon {
  color: var(--ql-color-info);
}
.ant-modal-confirm-success .ant-modal-confirm-body > .anticon {
  color: var(--ql-color-success);
}
.ant-modal-wrap-rtl {
  direction: rtl;
}
.ant-modal-wrap-rtl .ant-modal-close {
  right: initial;
  left: 0;
}
.ant-modal-wrap-rtl .ant-modal-footer {
  text-align: left;
}
.ant-modal-wrap-rtl .ant-modal-footer .ant-btn + .ant-btn {
  margin-right: 8px;
  margin-left: 0;
}
.ant-modal-wrap-rtl .ant-modal-confirm-body {
  direction: rtl;
}
.ant-modal-wrap-rtl .ant-modal-confirm-body > .anticon {
  float: right;
  margin-right: 0;
  margin-left: 16px;
}
.ant-modal-wrap-rtl
  .ant-modal-confirm-body
  > .anticon
  + .ant-modal-confirm-title
  + .ant-modal-confirm-content {
  margin-right: 38px;
  margin-left: 0;
}
.ant-modal-wrap-rtl .ant-modal-confirm-btns {
  float: left;
}
.ant-modal-wrap-rtl .ant-modal-confirm-btns .ant-btn + .ant-btn {
  margin-right: 8px;
  margin-left: 0;
}
.ant-modal-wrap-rtl.ant-modal-centered .ant-modal {
  text-align: right;
}
