:root {
  --ql-color-blending-lighten1: 0.75;
  --ql-color-blending-lighten2: 0.50;
  --ql-color-blending-lighten3: 0.25;
  --ql-color-blending-lighten4: 0.15;
  --ql-color-blending-lighten5: 0.10;
  --ql-color-blending-lighten6: 0.05;
}