:root {
  --ql-menu-bg: transparent;
  --ql-menu-padding: 8px 0;

  /* DEPRECATED: --menu-highlight-color */
  /* DEPRECATED: --menu-highlight-danger-color */

  --ql-menu-inline-collapsed-width: calc(var(--ql-aside-collapsed-width) - var(--ql-aside-border-width));
  --ql-menu-inline-submenu-bg: var(--ql-color-dark-t-lighten5);

  --ql-menu-horizontal-height: var(--ql-header-height);
  --ql-menu-horizontal-border-bottom: unset;

  /* ITEM (for horizontal menu) */
  --ql-menu-horizontal-main-item-spacing: 0 0;
  --ql-menu-horizontal-main-item-padding: 0 16px;
  --ql-menu-horizontal-main-item-color-hover: var(--ql-color-accent1);
  --ql-menu-horizontal-main-item-box-shadow-hover: inset 0 -2px var(--ql-color-accent1);
  --ql-menu-horizontal-main-item-danger-color-hover: var(--ql-color-danger);
  --ql-menu-horizontal-main-item-danger-box-shadow-hover: inset 0 -2px var(--ql-color-danger);

  /* ITEM */
  --ql-menu-item-height: 48px;

  /* DEPRECATED: --menu-vertical-inline-item-padding */
  /* DEPRECATED: --menu-item-padding */
  --ql-menu-item-padding-vertical: calc((var(--ql-menu-item-height) - var(--ql-typography-line-height-md)) / 2);
  --ql-menu-item-vertical-margin: 0;
  --ql-menu-item-boundary-margin: 0;

  /* ---: typography */
  --ql-menu-item-font-size: var(--ql-typography-font-size-md);
  --ql-menu-item-line-height: var(--ql-typography-line-height-md);
  --ql-menu-item-color: var(--ql-typography-text-color-secondary);


  /* ---: iconography */
  --ql-menu-item-icon-size: var(--ql-menu-item-font-size);
  --ql-menu-item-icon-margin-right: 24px;

  /* ---: hover state */
  --ql-menu-item-bg-hover: var(--ql-color-accent1-t-lighten5);
  --ql-menu-item-color-hover: var(--ql-color-accent1);

  /* ---: default active state */
  --ql-menu-item-active-color: var(--ql-color-accent1);
  --ql-menu-item-active-bg: var(--ql-color-accent1-t-lighten5);
  --ql-menu-item-active-border-right: 3px solid var(--ql-color-accent1);
  
  /* ---: danger active state */
  --ql-menu-item-active-danger-bg: var(--ql-color-danger-t-lighten6);

  /* SUBMENU */
  --ql-menu-submenu-bg: var(--ql-color-white);
  --ql-menu-submenu-border-radius: var(--ql-border-radius-sm);
  --ql-menu-submenu-arrow-color: var(--ql-menu-item-color);
  
  /* GROUP */

  /* ---: title */
  --ql-menu-group-title-font-size: var(--ql-font-size-caption1);
  --ql-menu-group-title-line-height: var(--ql-line-height-caption1);
  --ql-menu-group-title-font-weight: var(--ql-font-weight-medium);
  --ql-menu-group-title-letter-spacing: var(--ql-letter-spacing-default);
  --ql-menu-group-title-text-transform: uppercase;
  --ql-menu-group-title-color: var(--ql-state-disabled-color);
  --ql-menu-group-title-padding: 8px 16px;
  
  /* --menu-item-group-height: var(--ql-typography-line-height-md); */ /* Not used */
  /* --menu-item-active-border-width: 3px; */ /* Not used */
  /* --menu-inline-toplevel-item-height: 40px; */ /* Not used */

  /* Config for dark theme (antd native workaround) */

  --menu-dark-color: var(--ql-typography-text-color-secondary);
  --menu-dark-danger-color: var(--ql-color-danger);
  --menu-dark-bg: var(--ql-menu-bg);
  --menu-dark-arrow-color: var(--ql-color-white);
  --menu-dark-inline-submenu-bg: #000c17;
  --menu-dark-highlight-color: var(--ql-color-white);
  --menu-dark-item-active-bg: var(--ql-color-accent1);
  --menu-dark-item-active-danger-bg: var(--ql-color-danger);
  --menu-dark-selected-item-icon-color: var(--ql-color-white);
  --menu-dark-selected-item-text-color: var(--ql-color-white);
  --menu-dark-item-hover-bg: transparent;
}