$gutter-default: var(--grid-gutter-default);
$negative-gutter-default: var(--grid-negative-gutter-default);

$gutters: (
  sm: var(--grid-gutter-sm),
  md: var(--grid-gutter-md),
  lg: var(--grid-gutter-lg),
  xl: var(--grid-gutter-xl),
  xxl: var(--grid-gutter-xxl)
);

$negative-gutters: (
  sm: var(--grid-negative-gutter-sm),
  md: var(--grid-negative-gutter-md),
  lg: var(--grid-negative-gutter-lg),
  xl: var(--grid-negative-gutter-xl),
  xxl: var(--grid-negative-gutter-xxl)
);