@import '../../../scss/config/breakpoints';
@import '../../../scss/config/gutters';

.col {
  display: flex;
  box-sizing: border-box;
  padding-left: $gutter-default;
  padding-right: $gutter-default;
  flex: 1 0 0%;
  width: auto;
  &.content-space {
    flex: 0 0 auto;
  }
  @each $breakpoint, $value in $breakpoints {
    @media (min-width: $value) {
      $gutterVariable: map-get($gutters, $breakpoint);
      padding-left: $gutterVariable;
      padding-right: $gutterVariable;
    }
  }
}