:root {
  --alert-success-border-color: var(--ql-color-success-t-lighten5);
  --alert-success-bg-color: var(--ql-color-success-t-lighten6);
  --alert-success-icon-color: var(--ql-color-success);
  --alert-info-border-color: var(--ql-color-accent1-t-lighten5);
  --alert-info-bg-color: var(--ql-color-accent1-t-lighten6);
  --alert-info-icon-color: var(--ql-color-info);
  --alert-warning-border-color: var(--ql-color-warning-t-lighten5);
  --alert-warning-bg-color: var(--ql-color-warning-t-lighten6);
  --alert-warning-icon-color: var(--ql-color-warning);
  --alert-error-border-color: var(--ql-color-danger-t-lighten5);
  --alert-error-bg-color: var(--ql-color-danger-t-lighten6);
  --alert-error-icon-color: var(--ql-color-danger);
  --alert-message-color: var(--ql-typography-heading-color);
  --alert-text-color: var(--ql-typography-text-color-primary);
  --alert-close-color: var(--ql-typography-text-color-secondary);
  --alert-close-hover-color: var(--ql-icon-color-hover);
  --alert-no-icon-padding-vertical: 8px;
  --alert-with-description-no-icon-padding-vertical: 16px - 1px;
  --alert-with-description-padding-vertical: 16px - 1px;
  --alert-with-description-padding: var(--alert-with-description-padding-vertical) 15px;
  --alert-icon-top: calc(8px + var(--ql-typography-font-size-md) * (var(--ql-typography-line-height-md) / 2) - (var(--ql-typography-font-size-md) / 2));
  --alert-with-description-icon-size: 24px;
}