/*
    This palette is used only for the components: Tag, Badge, Ribbon, Tooltip.
    You can leave it unchanged if you do not plan to use the default colors of the above listed components.
*/

:root {
  --cyan-1: #e6fffb;
  --cyan-3: #87e8de;
  --cyan-6: #13c2c2;
  --cyan-7: #08979c;
}