/*
    This palette is used only for the components: Tag, Badge, Ribbon, Tooltip.
    You can leave it unchanged if you do not plan to use the default colors of the above listed components.
*/

:root {
  --geekblue-1: #f0f5ff;
  --geekblue-3: #adc6ff;
  --geekblue-6: #2f54eb;
  --geekblue-7: #1d39c4;
}