:root {
  --timeline-width: 2px;
  --timeline-color: var(--ql-border-color-default);
  --timeline-dot-border-width: 2px;
  --timeline-dot-color: var(--ql-color-accent1);
  --timeline-dot-bg: var(--ql-color-white);
  --timeline-item-padding-bottom: 20px;
}